@import "../global";
.footer{
    padding: 5rem 0 0 0;
    // color: #8a8a8a;
    font-size: 1rem;
    position: relative;
    &__title{
        font-size: 2rem;
    }
    &__block{
        top: 25%;   
        position: absolute;
        height: 75vh;
        width: 37%;
        padding: 75px;
        z-index: 1;
    }
    &__logo{
        width: 3.2vw;
    }
    &__link{
        display: flex;
        justify-content: flex-end;
    }
    .bi{
        margin-right: 20px;
    }
}
